<h1 mat-dialog-title>{{ tour.Name }}</h1>
<h2>Artist: {{ tour.ArtistName }}</h2>
<h2>Hosted by {{ tour.Host }}</h2>
<div class="start-date">Starting on {{ tour.DateStart | date:'fullDate' }}</div>
<div class="end-date">Ending on {{ tour.DateEnd | date:'fullDate' }}</div>
<div mat-dialog-content>
    <mat-accordion>
        <mat-expansion-panel 
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Information on trips
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table *ngIf="tour.Trips && tour.Trips.length > 0">
                <thead>
                    <tr>
                        <th class="operated-by">Operated By</th>
                        <th class="departure-date">Departure Date</th>
                        <th class="departure-time">Departure Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trip of tour.Trips">
                        <td>{{ trip.Company}}</td>
                        <td>{{ trip.Date | date:'fullDate' }}</td>
                        <td>{{ trip.TimeDepart | slice:0:5 }}</td>
                    </tr>
                </tbody>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div mat-dialog-actions class="button">
    <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
</div>
