h1 {
    color: #5f2b7d;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 2em;
    font-weight: bolder;
    padding: 5px;
}

h2 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

td {
    border-bottom: .05em solid #5f2b7d;
}

.button {
    padding: 10px 0 10px 0;
}

.departure-date {
    text-align: left;
    width: 30%;
}

.departure-time {
    text-align: left;
    width: 20%;
}

.end-date {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding: 5px;
}

.operated-by {
    text-align: left;
    width: 25%;
}

/* override Angular Material button colour */
.mat-raised-button.mat-primary {
    background-color: #5f2b7d;
}

.start-date {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding: 5px;
}

.travellers {
    text-align: left;
    width: 25%;
}
