<div class="header" >
    <img src="https://www.appointmentgroup.com/wp-content/uploads/2015/08/tag-privateclients.png" alt="" scale="0">
</div>
<div class="card-wrapper" *ngIf="tours && tours.length > 0">
    <mat-card class="card" *ngFor="let tour of tours">
        <mat-card-header>
        <mat-card-title>{{ tour.Name }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="artist">{{ tour.ArtistName }}</div>
            <div class="start-date">Starting on {{ tour.DateStart | date:'fullDate' }}</div>
            <div class="end-date">Ending on {{ tour.DateEnd | date:'fullDate' }}</div>
        </mat-card-content>
        <mat-card-actions>
        <button (click)="openDialog(tour)" mat-button>
            <i class="material-icons">details</i>
            Select Tour
        </button>
        </mat-card-actions>
    </mat-card>
</div>
