.artist {
    color: #5f2b7d;
    font-size: 1.25em;
    font-weight: bolder;
    padding: 5px;
}

.card {
    margin: 10px;
    width: 25%;
}

.card-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.end-date {
    padding: 5px;
}

.mat-card-header {
    background-color: #5f2b7d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
   
}

.mat-card-title {
    color: #FFF;
    font-size: 1.15em;
    font-weight: bolder;
}

.start-date {
    padding: 5px;
}
